/straight/
/var/
/*~
/.lsp-session-v1
/.DS_Store
/.projectile
/auto-save-list/
/eln-cache/
/projectile-bookmarks.eld
/projectile.cache
/transient/
*.el#
/.cache/
/.mc-lists.el
/projects
/racket-mode/
/timelog
/tramp
/history
/recentf
